img:hover{
	cursor: pointer;
}

.tableElementClicked{
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.7);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 15;
}

.projectImage:hover{
	filter:grayscale(0%) drop-shadow(0 0 2vmin #111111);;
	cursor:pointer;
}

.halfCol{
	float:left;
	display: inline;
	width:50%;
}

.columnContainer{
	display: inline-block;
	width:100%;
	margin:1vmin 0 ;
}

.centeredTable{
	margin:1vmin auto;
}


/*width>height*/
@media screen and (min-width: 1200px){
	.sectionName{
		/*Design*/
		font-size:7.5vmin;
		background: rgba(0,0,0,0.2);
		/*Layout*/
		margin:0 auto;
		display:block;
	}

	.heading{
		/*Design*/
		font-size:5vmin;

		/*Layout*/
		margin:1vmin auto;
		width:100%;
	}

	.subheading{
		/*Design*/
		font-size:2.5vmin;
		text-align: center;
		/*Layout*/
		margin:2vmin auto;
		max-width: 50%;
	}

	.detailText{
		/*Design*/
		font-size:2vmin;
		/*Layout*/
		margin:0 auto 0 auto;
		display:block;
	}

	.projectImage{
		/*Design*/
		filter:grayscale(90%);
		transition: 0.25s filter linear, 0.25s width linear, 0.25s height linear;

		/*Layout*/
		width:30vmin;
		margin:1vmin;
	}

	.sketch{
		/*Design*/
		width:60vmin;
		height:33.75vmin;
		border:0.5vmin double #476789;
		/*Layout*/
		margin:2vmin auto;
		display: block;
	}

	.fixedSketch{
		/*Layout*/
		border:0.5vmin double #476789;
		margin:2vmin auto;
		display: block;

	}

	.tileSliderImage{
		/*Design*/
		border:0.5vmin double #476789;
		/*Layout*/
		display: block;
		margin:1vmin auto 0 auto;
		height:40vmin;
	}

	.tileSliderImageExpanded{
		top:50%;
		left:50%;
		position: absolute;
		transform: translate(-50%,-50%);
		height: 80vmin;
	}

	.particleImage{
		/*Design*/
		border:0.5vmin double #476789;
		/*Layout*/
		display: block;
		margin:2vmin auto 0 auto;
		width:30vmin;
	}

	.particleImageExpanded{
		top:50%;
		left:50%;
		position: absolute;
		transform: translate(-50%,-50%);
		width:70vmin;
	}

	.animationVideo{
		/*Design*/
		/*Layout*/
		display:block;
		margin:2vmin auto;
		width:72vmin;
		height:40.5vmin;

	}

	.handImage{
		/*Design*/
		border:0.5vmin double #476789;
		/*Layout*/
		display: block;
		margin: 0 auto;
		width:30vmin;
	}

	.handImageExpanded{
		top:50%;
		left:50%;
		position: absolute;
		transform: translate(-50%,-50%);
		width:60vmin;
	}

	.roomImage{
		/*Design*/
		border:0.5vmin double #476789;
		/*Layout*/
		display: block;
		margin: 2vmin auto;
		width:50vmin;
	}

	.roomImageExpanded{
		top:50%;
		left:50%;
		position: absolute;
		transform: translate(-50%,-50%);
		width:90vw;
	}

	.tropicalImage{
		/*Design*/
		border:0.5vmin double #476789;
		/*Layout*/
		display: block;
		margin:0 auto;
		width:30vmin;
	}

	.tropicalImageExpanded{
		top:50%;
		left:50%;
		position: absolute;
		transform: translate(-50%,-50%);
		width:90vw;
	}

	.boatImage{
		/*Design*/
		border:0.5vmin double #476789;
		/*Layout*/
		display: block;
		margin:0 auto;
		width:45vmin;
	}

	.boatVideo{
		/*Design*/
		border:0.5vmin double #476789;
		/*Layout*/
		display: block;
		margin:0 auto 2vmin auto;
		width:90vmin;
		height: 50.63vmin;
	}

	.boatImageExpanded{
		top:50%;
		left:50%;
		position: absolute;
		transform: translate(-50%,-50%);
		width:90vw;
	}

}

/*height>width*/
@media only screen and (max-width: 1200px){
	.sectionName{
		/*Design*/
		font-size:12.5vmin;
		background: rgba(0,0,0,0.2);
		/*Layout*/
		margin:0 auto;
		display:block;
	}

	.heading{
		/*Design*/
		font-size:7.5vmin;

		/*Layout*/
		margin:1vmin auto;
		width:100%;
	}

	.subheading{
		/*Design*/
		font-size:3vmin;
		text-align: center;
		/*Layout*/
		margin:2vmin auto;
		max-width: 75%;
	}

	.detailText{
		/*Design*/
		font-size:2vmin;
		/*Layout*/
		margin:0 auto 0 auto;
		display:block;
	}

	.tableElement{
		display: block;
	}

	.projectImage{
		filter:grayscale(90%);
		transition: 0.25s filter linear, 0.25s width linear, 0.25s height linear;

		width:60vmin;
		margin:1vmin;
	}

	.sketch{
		/*Design*/
		width:60vmin;
		height:33.75vmin;
		border:0.5vmin double #476789;
		/*Layout*/
		margin:2vmin auto;
		display: block;
	}

	.fixedSketch{
		/*Layout*/
		border:0.5vmin double #476789;
		margin:2vmin auto;
		display: block;

	}

	.tileSliderImage{
		/*Design*/
		border:0.5vmin double #476789;
		/*Layout*/
		display: block;
		margin:1vmin auto 0 auto;
		height:70vmin;
	}

	.tileSliderImageExpanded{
		top:50%;
		left:50%;
		position: absolute;
		transform: translate(-50%,-50%);
		height: 100vmin;
	}

	.particleImage{
		/*Design*/
		border:0.5vmin double #476789;
		/*Layout*/
		display: block;
		margin:2vmin auto 0 auto;
		width:60vmin;
	}

	.particleImageExpanded{
		top:50%;
		left:50%;
		position: absolute;
		transform: translate(-50%,-50%);
		width:90vmin;
	}

	.animationVideo{
		/*Design*/
		/*Layout*/
		display:block;
		margin:2vmin auto;
		width:60vmin;
		height:33.75vmin;

	}

	.handImage{
		/*Design*/
		border:0.5vmin double #476789;
		/*Layout*/
		display: block;
		margin: 0 auto;
		width:60vmin;
	}

	.handImageExpanded{
		top:50%;
		left:50%;
		position: absolute;
		transform: translate(-50%,-50%);
		width:60vmin;
	}

	.roomImage{
		/*Design*/
		border:0.5vmin double #476789;
		/*Layout*/
		display: block;
		margin: 2vmin auto;
		width:60vmin;
	}

	.roomImageExpanded{
		top:50%;
		left:50%;
		position: absolute;
		transform: translate(-50%,-50%);
		width:90vw;
	}

	.tropicalImage{
		/*Design*/
		border:0.5vmin double #476789;
		/*Layout*/
		display: block;
		margin:0 auto;
		width:60vmin;
	}

	.tropicalImageExpanded{
		top:50%;
		left:50%;
		position: absolute;
		transform: translate(-50%,-50%);
		width:90vw;
	}

	.boatImage{
		/*Design*/
		border:0.5vmin double #476789;
		/*Layout*/
		display: block;
		margin:0 auto;
		width:60vmin;
	}

	.boatVideo{
		/*Design*/
		border:0.5vmin double #476789;
		/*Layout*/
		display: block;
		margin:0 auto 2vmin auto;
		width:60vmin;
		height: 33.75vmin;
	}

	.boatImageExpanded{
		top:50%;
		left:50%;
		position: absolute;
		transform: translate(-50%,-50%);
		width:90vw;
	}
}