img:hover{
	cursor: pointer;
}

/*big text*/
.bigText{
	/*Design*/
	font-size:10vmin;
	/*Layout*/
	margin:2vmin auto;
	display:block;
}

/*mid sized text*/
.midText{
	/*Design*/
	font-size:5vmin;

	/*Layout*/
	height:4.5vmin;
	width:100%;
}

/*table that will be in middle of page*/
.centeredTable{
	margin:1vmin auto;
}

/*when an element is clicked, script will make it take whole screen*/
.tableElementClicked{
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.7);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 15;
}

/*image that links to project page*/
.projectImage{
	/*Design*/
	filter:grayscale(90%);
	transition: 0.25s filter linear, 0.25s width linear, 0.25s height linear;

	/*Layout*/
	width:30vw;
	margin:1vmin;
}

/*transition when image is moused over*/
.projectImage:hover{
	filter:grayscale(0%) drop-shadow(0 0 2vmin #111111);;
	cursor:pointer;
}

/*for descriptions*/
.subheading{
	/*Design*/
	font-size:2.5vmin;
	text-align: center;
	/*Layout*/
	margin:2vmin auto;
	max-width: 50%;
}

/*sketch that changes size*/
.sketch{
	/*Design*/
	width:80%;
	/*Layout*/
	margin:2vmin auto;
	display: block;
}

/*sketch that must stay same size*/
.fixedSketch{
	/*Layout*/
	margin:2vmin auto;
	display: block;
	
}

/*image in table for tile slider*/
.tileSliderImage{
	/*Design*/
	border:0.5vmin double #476789;
	/*Layout*/
	display: block;
	margin:5vmin auto 0 auto;
	height:40vmin;
}

/*used by script when image is expanded*/
.tileSliderImageExpanded{
	top:50%;
	left:50%;
	position: absolute;
	transform: translate(-50%,-50%);
	height: 80vmin;
}

/*image in table for particle simulator*/
.particleImage{
	/*Design*/
	border:0.5vmin double #476789;
	/*Layout*/
	display: block;
	margin:2vmin auto 0 auto;
	width:30vmin;
}

/*used by script when image is expanded*/
.particleImageExpanded{
	top:50%;
	left:50%;
	position: absolute;
	transform: translate(-50%,-50%);
	width:70vmin;
}

/*video size used for animations*/
.animationVideo{
	/*Design*/
	/*Layout*/
	display:block;
	margin:2vmin auto;
	width:72vmin;
	height:40.5vmin;

}

/*image in table for hand animation*/
.handImage{
	/*Design*/
	border:0.5vmin double #476789;
	/*Layout*/
	display: block;
	margin: 0 auto;
	width:30vmin;
}

/*used by script when image is expanded*/
.handImageExpanded{
	top:50%;
	left:50%;
	position: absolute;
	transform: translate(-50%,-50%);
	width:60vmin;
}

/*image in table for room*/
.roomImage{
	/*Design*/
	border:0.5vmin double #476789;
	/*Layout*/
	display: block;
	margin: 2vmin auto;
	width:88.8vmin;
}

/*used by script when image is expanded*/
.roomImageExpanded{
	top:50%;
	left:50%;
	position: absolute;
	transform: translate(-50%,-50%);
	width:90vw;
}