.body{
	height: 90vh;
}

/*Picture of me*/
.bodyPicture{
	/*Design*/
	border:0.5vmin double #476789;
	border-radius:25vmin; 
	transition: 0.25s width linear, 0.25s height linear;

	/*Layout*/
	margin:5vmin auto;
	display:block;
	width:35vmin;
	height:35vmin;
}

/*Text below picture*/
.bodyBiography{
	/*Design*/
	font-size:3vmin;
	/*Layout*/
	margin:auto 25vw;
}