body {
  font: 14px sans-serif;
  font-weight: bold;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.chart {
    /* background-color: #efefef; */
    background-color: white;
    /* shape-rendering: crispEdges; */
    shape-rendering: auto;
    border-style: solid;
    border-color: #d3d3d3;
 }


.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

 .text0 {
    fill: red;
 }

 .text1 {
    fill: green;
 }

 .text2 {
    fill:steelblue;
 }

 .text3 {
    fill: yellow;
 }

 .text4 {
    fill: purple;
 }

 .text5 {
    fill:brown;
 }

 .node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

input[type="range"] {
   width: 100%;
   margin: 0;
   box-sizing: border-box;
}
datalist {
   display: flex;
   width: 100%;
   justify-content: space-between;
   margin-top: 0px;
   padding-top: 0px;
}

.legend {
   padding: 5px;
   font: 10px sans-serif;
   background: yellow;
   box-shadow: 2px 2px 1px #888;
}
